.mainNav {
  height: 12vh;
  width: 100%;
  background-color: #c391ec;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.mainNav ul {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.mainNav li {
  list-style: none;
}

.mainNav li a {
  text-decoration: none;
  color: black;
  font-size: 32px;
}
